<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142784056602-t7abj6hn52a6jmns0snl917aak0m72nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142784056602-t7abj6hn52a6jmns0snl917aak0m72nv</string>
	<key>API_KEY</key>
	<string>AIzaSyDh63GWkaE4Y-0iOmchejdL08uujOjY0t0</string>
	<key>GCM_SENDER_ID</key>
	<string>142784056602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicApp</string>
	<key>PROJECT_ID</key>
	<string>movies-hub-338509</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-hub-338509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142784056602:ios:f25fd61219f5d3a949f0a3</string>
</dict>
</plist>